.DS_Store
Session.vim
test-config.vim
.netrwhist
/.git/
/.vagrant/
provisioning/roles/
/log/
/tmp/
/vendor/
tags
/tmp/
/node_modules/
.env
.byebug_history
*.dump
*.pyc
*.sw[nop]
.bundle
.cache/
/bower_components/
provisioning/test.yml
